/* Prev and Next buttons */
.blaze-slider.start .blaze-prev,
.blaze-slider.end .blaze-next {
	@apply opacity-30 cursor-not-allowed;
}

.blaze-slider .blaze-prev,
.blaze-slider .blaze-next {
	@apply transition-colors duration-300;
}

.blaze-slider.static .blaze-prev,
.blaze-slider.static .blaze-next,
.blaze-slider.static [data-controls],
.blaze-slider:not([data-initialized]) [data-controls] {
	opacity: 0;
}

.blaze-pagination button {
	@apply w-3 h-3 rounded-[50%] text-[0] border-2 border-f-300;
}

.blaze-pagination button.active {
	@apply bg-accent-500 text-b-900 border-accent-500;
}

.blaze-slider {
	--slide-gap: 16px;
}

/* layout shift fixes */

.blaze-slider[data-variant="3-2-1"] {
	--slides-to-show: 3;
}

/* 3-2-1 */
@media (max-width: 900px) {
	.blaze-slider[data-variant="3-2-1"] {
		--slides-to-show: 2;
	}
}

@media (max-width: 600px) {
	.blaze-slider[data-variant="3-2-1"] {
		--slides-to-show: 1;
	}
}

/* 2-2-1 */

.blaze-slider[data-variant="2-2-1"] {
	--slides-to-show: 2;
}

@media (max-width: 600px) {
	.blaze-slider[data-variant="2-2-1"] {
		--slides-to-show: 1;
	}
}

/* 1-1-1 */

.blaze-slider[data-variant="1-1-1"] {
	--slides-to-show: 1;
}
