@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	/* scroll-behavior: smooth; */
	font-feature-settings: "cv02", "cv03", "cv04", "cv11";
	font-feature-settings:
		"rlig" 1,
		"calt" 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

@layer base {
	:root,
	[data-theme="dark"] {
		/* 100 - lightest, 900 - darkest */

		/* neutral background colors */
		--b-900: hsl(240deg 6.67% 0%);
		--b-800: hsl(240deg 5% 4%);
		--b-700: hsl(240deg 5% 6%);
		--b-600: hsl(240deg 5% 10%);

		--overlay: hsl(240deg 5% 5% / 0.5);
		--border: hsla(0, 0%, 12%, 1);

		/* neutral foreground colors */
		--f-100: rgba(241, 245, 249);
		--f-200: rgb(226, 232, 240);
		--f-300: rgb(156, 163, 175);

		/* others */
		--accent-500: hsl(217deg 91% 60%);
		--accent-600: hsl(221deg 83% 53%);
		--accent-900: hsl(221 53% 8%);
		--accent-800: hsl(221 53% 12%);
		--accent-700: hsl(221 53% 20%);

		--danger-500: hsl(0deg 84% 60%);
		--danger-900: hsl(0deg 41.67% 14.12%);
		--danger-800: hsl(0 36% 20% / 1);

		--warning-500: hsl(30.66deg 97.16% 40%);
		--warning-600: #f9a03f;
		--warning-800: hsl(30.73deg 50.62% 15%);
		--warning-900: hsl(30.73deg 50.62% 10%);

		--radius: 0.5rem;
		--header-height: 70px;
	}

	[data-theme="light"] {
		/* neutral background colors */
		--b-900: #fafafa;
		--b-800: #f5f5f5;
		--b-700: #e5e5e5;
		--b-600: #d4d4d4;

		--overlay: hsl(240deg 5% 5% / 0.5);
		--border: #64748b;
		--code-bg: #020617;

		/* neutral foreground colors */
		--f-100: #020617;
		--f-200: #0f172a;
		--f-300: #1e293b;

		/* others */
		--accent-500: #1d4ed8;
		--accent-600: #2563eb;
		--accent-700: #3b82f6;
		--accent-800: #60a5fa;
		--accent-900: #93c5fd;

		--danger-500: #fee2e2;
		--danger-800: #fecaca;
		--danger-900: #fca5a5;

		--warning-500: #fef3c7;
		--warning-800: #fef08a;
		--warning-900: #fde047;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-b-900 text-f-100;
	}
}

.styled-scrollbar::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

@media (max-width: 640px) {
	.styled-scrollbar::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}

.styled-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	transition: color 200ms ease;
	background: var(--border);
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
	background: var(--f-200);
}

.styled-scrollbar::-webkit-scrollbar-track {
	background-color: transparent;
}

button {
	-webkit-tap-highlight-color: transparent;
}

::selection {
	background: var(--accent-600);
	color: var(--f-100);
}

.hide-scrollbar {
	scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
