@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	font-feature-settings: "cv02", "cv03", "cv04", "cv11";
	font-feature-settings:
		"rlig" 1,
		"calt" 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

@layer base {
	:root {
		/* 100 - lightest, 900 - darkest */

		/* neutral background colors */
		--b-900: hsl(240deg 6.67% 0%);
		--b-800: hsl(240deg 5% 4%);
		--b-700: hsl(240deg 5% 6%);
		--b-600: hsl(240deg 5% 10%);

		--overlay: hsl(240deg 5% 5% / 0.5);
		--border: hsl(240deg 5% 14%);

		/* neutral foreground colors */
		--f-100: rgba(241, 245, 249);
		--f-200: rgb(226, 232, 240);
		--f-300: rgb(156, 163, 175);

		/* others */
		--accent-500: hsl(217deg 91% 60%);
		--accent-600: hsl(221deg 83% 53%);
		--accent-900: hsl(221 53% 8%);
		--accent-800: hsl(221 53% 12%);
		--accent-700: hsl(221 53% 20%);

		--danger-500: hsl(0deg 84% 60%);
		--danger-900: #331515;

		--warning-500: hsl(30.66deg 97.16% 40%);
		--warning-600: #f9a03f;
		--warning-800: hsl(30.73deg 50.62% 15%);
		--warning-900: hsl(30.73deg 50.62% 10%);

		--radius: 0.5rem;
		--header-height: 70px;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-b-900 text-f-100;
	}
}

.styled-scrollbar {
	/* scrollbar-gutter: stable; */
}

.styled-scrollbar::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

@media (max-width: 640px) {
	.styled-scrollbar::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}

.styled-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 0.5rem;
	transition: color 200ms ease;
	background: var(--border);
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
	background: var(--f-200);
}

.styled-scrollbar::-webkit-scrollbar-track {
	background-color: transparent;
}

button {
	-webkit-tap-highlight-color: transparent;
}

::selection {
	background: var(--accent-600);
	color: var(--f-100);
}
