.scrollShadowY {
	position: absolute;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 20px;
	--shadow: var(--b-600);
}

.scrollShadowX {
	position: absolute;
	top: 0;
	z-index: 1000;
	width: 20px;
	height: 100%;
	--shadow: var(--b-600);
}

.scrollShadowTop {
	top: 0;
	background: linear-gradient(to bottom, var(--shadow), transparent);
	opacity: 0;
}

.scrollShadowBottom {
	bottom: 0;
	background: linear-gradient(to top, var(--shadow), transparent);
}

.scrollShadowLeft {
	left: 0;
	background: linear-gradient(to right, var(--shadow), transparent);
}

.scrollShadowRight {
	right: 0;
	background: linear-gradient(to left, var(--shadow), transparent);
}
